.places{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	text-align: center;
}
h1{
	padding-top: 10px;
	padding-left: 20px;
	font-size: 30px;
	width: 100%;
	text-align: left;
	margin-bottom: 0px;
}
article{
	width: 390px;
	padding: 20px;
	margin: 20px;
	border: 1px solid #FF5A5F;
	border-radius: 4px;
	display: flex;
	flex-direction: column;
	position: relative;
}
article h2{
	font-size: 30px;
	margin: 0 0 60px 0;
}
.price_by_night{
	color: #FF5A5F;
	border: 4px solid #FF5A5F;
	min-width: 60px;
	height: 60px;
	font-size: 30px;
	display: flex;
	border-radius: 50%;
	position: absolute;
	align-items: center;
	justify-content: center;
	right: 20px;
	padding: 2%;
}
.information{
	height: 80px;
	border-top: 1px solid #DDDDDD;
	border-bottom: 1px solid #DDDDDD;
	display: flex;
	justify-content: space-evenly;
}
.max_guest, .number_rooms,
.number_bathrooms{
	width: 100px;
	background-repeat: no-repeat;
	justify-content: center;
	display: flex;
	align-items: flex-end;
	background-position-x: center;
	background-position-y: 7px;
	padding: 10px;
}
.max_guest{
	background-image: url("../images/icon_group.png");
}
.number_rooms{
	background-image: url("../images/icon_bed.png");
}
.number_bathrooms{
	background-image: url("../images/icon_bath.png");
}
.user, .description{
	text-align: left;
}
.places .amenities, .reviews{
	margin-top: 40px;
	text-align: left;
}
.amenities h2, .reviews h2{
	font-size: 16px;
	border-bottom: 1px solid #DDDDDD;
	margin-bottom: 10px;
	padding-bottom: 10px;
}
.amenities ul, .reviews ul{
	list-style: None;
	padding-left: 0px;
}
.amenities ul h3, .reviews ul h3{
	font-size: 14px;
	text-align: left;
}
.amenities ul p, .reviews ul p{
	font-size: 12px;
	text-align: left;
}
.amenities li, .reviews li{
	list-style: None;
}
footer{
	position: relative;
}

